.App {
  text-align: center;
}

.mobile-picture {
  height: 540px;
  width: 750px;
  object-fit: contain;
}

.mobile-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.mobile-model {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.mobile-company {
  padding: 16px;
  font-size: 32px;
  color: grey;
  font-weight: bold;
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.mobile-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}